extends layout.pug  

block content
  header
    h2 Welcome to Shore Report!
    h4 A one-stop shop for beach conditions and vacation weather information.
    img(class="pixelArt" src="../public/beach.png")
  .sand
    h3 Available locations:
  - var alternator = true;
    each l in available
      h2.sand
        a(href=l.url) #{l.name}
        
  if(messages.submission === 'success')
    h3 Submission successful.
  .sand
    h3 Request a location:
    form(action="/request" method="post")
      input(type="text" name="locationRequested" size="20")
      input(type="submit")
