- console.log(water)
- console.log(tides)
html
  p #{weather.summary}
  p #{parseInt(weather.apparentTemperatureMax)}&deg;F / #{parseInt(weather.apparentTemperatureMin)}&deg;F
  p Ocean temp: #{ocean}


